@media screen and (max-width:1399px) {
    .banner h1 {
        font-size: 60px;
    }
}

@media screen and (max-width:1199px) {

    .social_footer ul li a {
        padding: 0;
    }

    .social_icon ul li {
        margin: 0px 5px;
    }

    .banner h1 {
        font-size: 50px;
    }

    .social_footer ul li a {
        font-size: 14px;
    }

    .social_footer ul li {
        margin: 0 10px;
    }
}


@media screen and (max-width:991px) {
    .social_footer ul {
        text-align: center;
        display: block;
    }

    .social_footer ul li {
        margin: 25px 20px;
    }

    .social_icon ul li a {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .hotel_detail h2 {
        margin: 20px 0;
    }

    .about2img {
        display: none;
    }

    .about_us .left_side h3 {
        margin: 20px 0;
    }

    li.nav-item {
        margin: 0;
        margin-bottom: 15px;
    }

    li.nav-item.first_li_a {
        margin-top: 30px;
    }
    .lower_banner .row {
        flex-direction: column-reverse;
    }
    .lower_banner .right_side {
        margin-bottom: 30px;
    }

}

@media screen and (max-width:767px) {
    .banner h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 15px;
    }

    .hotel_img img {
        height: 430px;
    }

    a.navbar-brand img {
        max-width: 80px;
    }

    .logo_footer .logo a img {
        width: 120px;
    }
}

@media screen and (max-width:575px) {
    .social_icon ul li {
        margin: 0;
    }

    .social_icon ul li a {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .common_btn_contact a {
        width: 150px;
        padding: 6px 6px;
    }
}