header {
    padding: 15px 0;
    background: #16272d;
    position: fixed;
    width: 100%;
    z-index: 2;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif;
}

h2 {
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 600;
}

a.navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.nav-link {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

li.nav-item {
    margin: 0 18px;
}

.banner.home_banner {
    text-align: center;
    padding: 320px 0;
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
}

.banner.home_banner::before {
    background: #00000073;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.lx_banner {
    background-image: url(../images/lx_bg.jpg) !important;
}

.un_banner{
    background-image: url(../images/un_new_bg.jpg) !important;
}

.cs_bg {
    background-image: url(../images/cas_bg.jpg) !important;
}

.off_bg {
    background-image: url(../images/of2.jpg) !important;
}

.contact_us_bg {
    background-image: url(../images/contact_bg.jpg) !important;
}

.faq_bg {
    background-image: url(../images/young-businesswoman-reading-application-form\ \(1\).jpg) !important;
}

.privacy_banner {
    background-image: url(../images/privacy_bg.webp) !important;
}

.term_banner {
    background-image: url(../images/term-banner.jpg) !important;
}


.banner h1 {
    font-size: 70px;
    color: #c7a97f;
    font-weight: 700;
    background: unset;
    padding: 20px;
    border-radius: 10px;
}

.padding {
    padding: 70px 0;
}

p {
    font-size: 17px;
    line-height: 28px;
    color: #707070;
}

img {
    width: 100%;
}

.hotels_section .row {
    align-items: center;
    margin-bottom: 60px;
}

.hotels_section .row:nth-child(2) {
    flex-direction: row-reverse;
}

.hotels_section .row:nth-child(4) {
    flex-direction: row-reverse;
}

.hotels_section .row:nth-child(6) {
    flex-direction: row-reverse;
}

.hotel_img img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.hotel_img {
    overflow: hidden;
}

.hotel_img img:hover {

    transform: scale(1.2);
}

.hotel_detail h3 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #16272D;
}

.bottom_btn a {
    color: #16272D;
    border: 1px solid #16272D;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.4s;
}

.bottom_btn a:hover {
    background: #16272D;
    color: #FFF;
}

.bottom_btn {
    margin-top: 30px;
}

.amenities {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    height: 100%;
    padding: 30px 20px;
    transition: all 0.4s;
}

.amenities img {
    width: 100%;
    max-width: 90px;
    margin: 0 auto;
    display: block;
}

.amenities h3 {
    margin: 20px 0;
    color: #16272D;
}

.amenities:hover h3 {
    color: #FFf;
}

.amenities:hover {
    background: #16272D;
    color: #FFf;
}

.amenities:hover p {
    color: #FFf;
}


.about1img {
    height: 400px;
    object-fit: cover;
}

.about2img {
    height: 300px;
    margin-top: 40px;
    margin-left: -20px;
    object-fit: cover;
}

.about_us .left_side h3 {
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 600;
}

.about_card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    height: 100%;
    padding: 40px 20px;
}

.about_card h3 {
    color: #16272D;
    margin-bottom: 20px;
}

.about_us_cards {
    background-image: url(../images/hotel_6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.about_us_cards::before {
    position: absolute;
    content: '';
    background-color:#16272D;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.about_card p {
    color: #fff;
}

.about_card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    height: 100%;
    padding: 40px 20px;
    border: 1px solid #ffffff73;
    transition: all 0.5s;
}

.about_card:hover p {
    color: #16272D;
}

.common_input input {
    padding: 15px 10px;
    border-radius: 0;
}

.common_input label {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #707070;
}

.common_input {
    margin-bottom: 20px;
}

.common_btn_contact a {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    text-transform: capitalize;
    font-size: 20px;
    color: #707070;
    text-decoration: unset;
    background: #16272D;
    border: unset;
    color: #fff;
    transition: all 0.4s;
    border-radius: 0;
    border: 1px solid transparent;
}

.common_btn_contact a:hover {
    color: #16272D;
    border: 1px solid #16272D;
    background-color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.png);


}

.accordion-button::after {
    background-image: url(../images/plus.png);

}

button.accordion-button {
    font-size: 20px;
    font-weight: 600;
    color: #16272D;

}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    font-size: 20px;
    font-weight: 600;
    color: #16272D;


}

.accordion-body {
    font-size: 17px;
    line-height: 28px;
    color: #707070;
}

.accordion-button:not(.collapsed) {
    background-color: unset;
}

.accordion-button:focus {
    box-shadow: unset;
}

.accordion-button:not(.collapsed) {
    color: #16272D;
    box-shadow: unset;
}

.priavcy_wrap h3 {
    color: #16272D;
    margin-bottom: 20px;
}


.social_footer ul {
    display: flex;
    justify-content: center;
}

.social_footer ul li {
    margin: 0 15px;
    list-style: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
}

.social_footer ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    ;
    text-transform: uppercase;
    transition: all 0.4s;
}

.social_footer ul li a:hover {
    text-decoration: underline;
}

.footer {
    background: #16272D;
}


nav .logo a {
    color: #fff;
    text-decoration: none;
}

.logo_footer .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
}

.logo_footer .logo {
    margin-bottom: 30px;
    text-align: center;
}

.social_icon ul li {
    margin: 0 5px;
    list-style: none;
}

.social_icon ul li a {
    margin: 0 10px;
    list-style: none;
    background: transparent;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    border-radius: 50%;
}

.social_icon ul {
    display: flex;
    justify-content: center;
}

.social_icon ul li .one_icon {
    background: linear-gradient(30deg, #f38334, #da2e7d 50%, #6b54c6);
}

.social_icon ul li .two_icon {
    background: #1877f2 !important;

}

.social_icon ul li .three_icon {
    background: #000 !important;
}

.social_icon ul li .four_icon {
    background: #0a66c2 !important;
}

.social_icon {
    margin-top: 30px;
}

.common_btn:hover {
    background: #fff;
    color: #37003c;
}

.social_icon ul li a:hover {
    transform: scale(1.2);
}

.social_icon ul {

    padding-left: 0;
}

.social_footer ul {
    padding-left: 0;
}

.lower_banner .right_side img {
    width: 100%;
    object-fit: cover;
    margin-left: 40px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.lower_banner .right_side {
    overflow: hidden;
}

.lower_banner .right_side img:hover {
    margin-left: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

a.navbar-brand img {
    max-width: 220px;
}

.logo_footer .logo a img {
    width: 220px;
}

.container-fluid {
    padding: 0 20px !important;
    max-width: 1920px !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #C7A97F;
}
.nav-link:focus, .nav-link:hover {
    color: #C7A97F;
}

.full_text {
    background: #16272dd9;
    padding: 50px 0;
   
}
.full_text p{
    color: #fff;
}
.full_text h2 {
    color: #c7a97f;
} 
.navbar-toggler-icon {
    filter: invert(1);
}
.contact_us_text {
    padding-bottom: 60px;
}











